{{ define "main" }}
<article class="post-single">
  <header class="post-header">
    <h1>{{ .Title }}</h1>
    {{ if not .Date.IsZero }}<time>{{ .Date.Format "January 2, 2006" }}</time>{{ end }}
  </header>
  <div class="post-content">
    {{ .Content }}
  </div>
</article>

{{ if eq .Section "blog" }}
<section class="comments-section">
  <script src="https://giscus.app/client.js"
    data-repo="damonmiaom/damonmiaom.github.io"
    data-repo-id="R_kgDORxEswg"
    data-category="Comments"
    data-category-id="CATEGORY_ID_PLACEHOLDER"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="dark_dimmed"
    data-lang="en"
    crossorigin="anonymous"
    async>
  </script>
</section>
{{ end }}
{{ end }}
